Repository Bitwardenoff/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bitwarden/tech-leads, @bitwarden/dept-devops, @bitwarden/dept-dbops, @bitwarden/team-auth-dev, @bitwarden/team-secrets-manager-dev, @bitwarden/team-tools-dev, @bitwarden/team-vault-dev, @bitwarden/team-admin-console-dev, @bitwarden/team-billing-dev

Add feature flag
  src/Core/Constants.cs
Owners: @bitwarden/tech-leads

Update references
  src/Admin/AdminConsole/Views/Organizations/_ViewInformation.cshtml
  src/Api/AdminConsole/Models/Response/Organizations/OrganizationResponseModel.cs
  src/Api/AdminConsole/Models/Response/ProfileOrganizationResponseModel.cs
  src/Api/AdminConsole/Models/Response/ProfileProviderOrganizationResponseModel.cs
  src/Api/Models/Request/Organizations/OrganizationCollectionManagementUpdateRequestModel.cs
  src/Api/Vault/AuthorizationHandlers/Collections/BulkCollectionAuthorizationHandler.cs
  src/Core/AdminConsole/Entities/Organization.cs
  src/Core/AdminConsole/Models/Data/Organizations/OrganizationAbility.cs
  src/Core/AdminConsole/Models/Data/Organizations/OrganizationUsers/OrganizationUserOrganizationDetails.cs
  src/Core/AdminConsole/Models/Data/Organizations/SelfHostedOrganizationDetails.cs
  src/Core/AdminConsole/Models/Data/Provider/ProviderUserOrganizationDetails.cs
  src/Core/AdminConsole/Services/Implementations/OrganizationService.cs
  src/Core/Models/Business/OrganizationLicense.cs
  src/Infrastructure.EntityFramework/AdminConsole/Models/Organization.cs
  src/Infrastructure.EntityFramework/AdminConsole/Repositories/OrganizationRepository.cs
  src/Infrastructure.EntityFramework/AdminConsole/Repositories/Queries/OrganizationUserOrganizationDetailsViewQuery.cs
  src/Infrastructure.EntityFramework/AdminConsole/Repositories/Queries/ProviderUserOrganizationDetailsViewQuery.cs
  test/Api.Test/Vault/AuthorizationHandlers/BulkCollectionAuthorizationHandlerTests.cs
  test/Core.Test/Models/Business/OrganizationLicenseFileFixtures.cs
  test/Infrastructure.IntegrationTest/AdminConsole/Repositories/OrganizationUserRepositoryTests.cs
Owners: @bitwarden/team-admin-console-dev, @bitwarden/tech-leads, @bitwarden/team-vault-dev

Deprecate the old property
  src/Core/AdminConsole/Entities/Organization.cs
Owners: @bitwarden/team-admin-console-dev

Promoted the new Entiy Framework properties
  src/Core/AdminConsole/Entities/Organization.cs
  src/Infrastructure.EntityFramework/AdminConsole/Models/Organization.cs
Owners: @bitwarden/team-admin-console-dev

Permenantly turn the feature on for self host
  src/Core/Constants.cs
Owners: @bitwarden/tech-leads

Remove references to feature flag
  src/Admin/AdminConsole/Views/Organizations/_ViewInformation.cshtml
  src/Api/AdminConsole/Models/Response/Organizations/OrganizationResponseModel.cs
  src/Api/AdminConsole/Models/Response/ProfileOrganizationResponseModel.cs
  src/Api/AdminConsole/Models/Response/ProfileProviderOrganizationResponseModel.cs
  src/Api/Models/Request/Organizations/OrganizationCollectionManagementUpdateRequestModel.cs
  src/Api/Vault/AuthorizationHandlers/Collections/BulkCollectionAuthorizationHandler.cs
  src/Core/AdminConsole/Models/Data/Organizations/OrganizationAbility.cs
  src/Core/AdminConsole/Models/Data/Organizations/OrganizationUsers/OrganizationUserOrganizationDetails.cs
  src/Core/AdminConsole/Models/Data/Organizations/SelfHostedOrganizationDetails.cs
  src/Core/AdminConsole/Models/Data/Provider/ProviderUserOrganizationDetails.cs
  src/Core/AdminConsole/Services/Implementations/OrganizationService.cs
  src/Core/Models/Business/OrganizationLicense.cs
  src/Infrastructure.EntityFramework/AdminConsole/Repositories/OrganizationRepository.cs
  src/Infrastructure.EntityFramework/AdminConsole/Repositories/Queries/OrganizationUserOrganizationDetailsViewQuery.cs
  src/Infrastructure.EntityFramework/AdminConsole/Repositories/Queries/ProviderUserOrganizationDetailsViewQuery.cs
  test/Api.Test/Vault/AuthorizationHandlers/BulkCollectionAuthorizationHandlerTests.cs
  test/Core.Test/OrganizationFeatures/OrganizationLicenses/UpdateOrganizationLicenseCommandTests.cs
Owners: @bitwarden/team-admin-console-dev, @bitwarden/tech-leads, @bitwarden/team-vault-dev

Demote entity propert to an EF shadow property
  src/Core/AdminConsole/Entities/Organization.cs
  src/Infrastructure.EntityFramework/AdminConsole/Models/Organization.cs
Owners: @bitwarden/team-admin-console-dev

Delete property from `Organization` entity
  src/Infrastructure.EntityFramework/AdminConsole/Models/Organization.cs
Owners: @bitwarden/team-admin-console-dev

Drop a MSSQL column
  src/Sql/dbo/Stored Procedures/Organization_Create.sql
  src/Sql/dbo/Stored Procedures/Organization_ReadAbilities.sql
  src/Sql/dbo/Stored Procedures/Organization_Update.sql
  src/Sql/dbo/Tables/Organization.sql
  src/Sql/dbo/Views/OrganizationUserOrganizationDetailsView.sql
  src/Sql/dbo/Views/ProviderUserProviderOrganizationDetailsView.sql
  util/Migrator/DbScripts/2024-09-26_00_DropOrganizationLimitCollectionCreationDeletion.sql
Owners: @bitwarden/dept-dbops

Generate entity framework migrations
  util/MySqlMigrations/Migrations/20240928185421_DropLimitCollectionCreationDeletion.Designer.cs
  util/MySqlMigrations/Migrations/20240928185421_DropLimitCollectionCreationDeletion.cs
  util/PostgresMigrations/Migrations/20240928185429_DropLimitCollectionCreationDeletion.Designer.cs
  util/PostgresMigrations/Migrations/20240928185429_DropLimitCollectionCreationDeletion.cs
  util/PostgresMigrations/Migrations/DatabaseContextModelSnapshot.cs
  util/SqliteMigrations/Migrations/20240928185425_DropLimitCollectionCreationDeletion.Designer.cs
  util/SqliteMigrations/Migrations/20240928185425_DropLimitCollectionCreationDeletion.cs
  util/SqliteMigrations/Migrations/DatabaseContextModelSnapshot.cs
Owners: @bitwarden/tech-leads

PM-10563: Notification Center API
  src/Api/NotificationCenter/Controllers/NotificationsController.cs
  src/Api/NotificationCenter/Models/Request/NotificationFilterRequestModel.cs
  src/Api/NotificationCenter/Models/Response/NotificationResponseModel.cs
  src/Core/NotificationCenter/NotificationCenterServiceCollectionExtensions.cs
  src/SharedWeb/Utilities/ServiceCollectionExtensions.cs
  test/Api.Test/NotificationCenter/Controllers/NotificationsControllerTest.cs
  test/Core.Test/NotificationCenter/AutoFixture/NotificationFixtures.cs
Owners: @bitwarden/tech-leads

PM-10563: Cleanup
  src/Api/Utilities/ServiceCollectionExtensions.cs
Owners: @bitwarden/tech-leads

.github/CODEOWNERS:

# Please sort lines alphabetically, this will ensure we don't accidentally add duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The following owners will be the default owners for everything in the repo
# unless a later match takes precedence
* @bitwarden/tech-leads

# DevOps for Actions and other workflow changes
.github/workflows @bitwarden/dept-devops

# DevOps for Docker changes
**/Dockerfile @bitwarden/dept-devops
**/*.Dockerfile @bitwarden/dept-devops
**/.dockerignore @bitwarden/dept-devops

# Database Operations for database changes
src/Sql/** @bitwarden/dept-dbops
util/Migrator/** @bitwarden/dept-dbops

# Auth team
**/Auth @bitwarden/team-auth-dev
bitwarden_license/src/Sso @bitwarden/team-auth-dev
src/Identity @bitwarden/team-auth-dev

**/SecretsManager @bitwarden/team-secrets-manager-dev
**/Tools @bitwarden/team-tools-dev

# Vault team
**/Vault @bitwarden/team-vault-dev
**/Vault/AuthorizationHandlers @bitwarden/team-vault-dev @bitwarden/team-admin-console-dev  # joint ownership over authorization handlers that affect organization users

# Admin Console team
**/AdminConsole @bitwarden/team-admin-console-dev
bitwarden_license/src/Scim @bitwarden/team-admin-console-dev
bitwarden_license/src/test/Scim.IntegrationTest @bitwarden/team-admin-console-dev
bitwarden_license/src/test/Scim.ScimTest @bitwarden/team-admin-console-dev

# Billing team
**/*billing* @bitwarden/team-billing-dev
**/*bitpay* @bitwarden/team-billing-dev
**/*braintree* @bitwarden/team-billing-dev
**/*freshdesk* @bitwarden/team-billing-dev
**/*freshsales* @bitwarden/team-billing-dev
**/*paypal* @bitwarden/team-billing-dev
**/*stripe* @bitwarden/team-billing-dev
**/*subscription* @bitwarden/team-billing-dev
**/Billing @bitwarden/team-billing-dev

# Multiple owners
**/packages.lock.json
Directory.Build.props
